html,body {
    min-height: 100%;
    min-width: 100%;
    background-color: aquamarine;
}

.box {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin: 1em;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}